apiVersion: apps/v1
kind: Deployment
metadata:
    name: replicator-deployment
    namespace: kube-system
spec:
    selector:
        matchLabels:
            app: replicator
    replicas: 1
    template:
        metadata:
            labels:
                app: replicator
        spec:
            serviceAccountName: replicator
            containers:
            - name: replicator
              image: quay.io/mittwald/kubernetes-replicator:latest