#
# The immutable configuration of Jenkins
# Configuration as Code Scripts
#

master:
    JCasC:
        configScripts:
            git-credentials: |
                credentials:
                    system:
                        domainCredentials:
                        -   credentials:
                            -   usernamePassword:
                                    scope: GLOBAL
                                    id: ${JENKINS_MAIN_GIT_ID}-${JENKINS_MAIN_GIT_USERNAME}
                                    username: ${JENKINS_MAIN_GIT_USERNAME}
                                    password: ${JENKINS_MAIN_GIT_PASSWORD}